---
layout: master
title: Tare List
---

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="d-flex justify-content-between align-items-center">
        Tare List
        <div class="text-secondary small">
          All masses in grams
        </div>
      </h1>

      <div class="card-columns">
        {% for group in site.data.tare %}
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{group.name}}</h2>
            <dl class="">
            {% for tare in group.tares %}
            <dt class="">{{tare.name}}</dt>
            <dd class="">{{tare.tare}}</dd>
            {% endfor %}
            </dl>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
