<!doctype html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark mb-3">
      <div class="container">
        <a class="navbar-brand" href="/">Kitchen</a>
      </div>
    </nav>
    {{content}}
  </body>
</html>
